@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap");

:root {
  --primary-color: #ed4d1b;
  --secundary-color: #ff9a3c;
  --black-color: #000000;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;

  background: linear-gradient(90deg, #ffe7d1 0%, #fff2e5 100%);
  padding: 0 1rem;
}

span {
  color: var(--primary-color);
}

.button {
  color: var(--black-color);
  background-color: var(--primary-color);
  text-align: center;
  text-decoration: none;

  padding: 0.6rem 1.5rem;

  border: 2px solid var(--black-color);
  box-shadow: 4px 4px 0px 0px #1E1E1E;

  transition: all 0.4s;
}

.button:hover {
  /* color: var(--primary-color);
  background-color: #1E1E1E;
  border: 2px solid var(--primary-color); */
  box-shadow: 0px 0px 0px 0px #1E1E1E;
}

#cabecalho, #courses , #rodape {
  border: 1px solid var(--black-color);
  border-top: none;

  padding: 1.25rem;
}

#cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

#cabecalho nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  width: 70%;

  /* border: 1px solid var(--black-color); */
}

#cabecalho nav a {
  text-decoration: none;
  color: var(--black-color);

  padding: 0.5rem;

  transition: all 0.4s;
}

#cabecalho nav a:hover {
  color: var(--primary-color);
}

#criar {
  border: 1px solid var(--black-color);
  border-top: none;

  padding-top: 0;
  padding-bottom: 16rem;
}

#criar img {
  max-width: 100%;
}

#criar #conteudo-criar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1.25rem;

  gap: 1.2rem;
}

#criar #conteudo-criar h1 {
  font-size: 2.5rem;
  font-weight: 900;
  max-width: 17.5rem;
}

#criar #conteudo-criar p {
  max-width: 20rem;
}

#criar #conteudo-criar #comecar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#criar #conteudo-criar #comecar a{
  width: 12.5rem;
}

#criar .button {
  position: relative;
}

#criar .button::after {
  content: '';
  position: absolute;
  background: url(./assets/arrow-curve.svg);
  top: 4rem;
  right: -4rem;
  height: 48px;
  width: 132px;

  pointer-events: none;
}

.enfase {
  position: relative;
}

.enfase::after {
  content: '';
  position: absolute;
  background: url(./assets/three-dashes.svg);
  top: -0.9rem;
  right: -2.8rem;
  height: 45px;
  width: 50px;
}

#courses {
  padding-bottom: 10rem;
}

#cards {
  display: flex;
  flex-direction: column;
  align-items: start;

  gap: 1.25rem;

  margin-top: -8rem;
  margin-bottom: 4rem;

}

#conhecer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

#conhecer h2 {
  text-align: center;
  margin: 4rem auto 0;
  font-size: 2.5rem;
}

#conhecer a {
  text-align: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid var(--black-color);
  background-color: var(--primary-color);
  box-shadow: 4px 4px 0px 0px #1E1E1E;

  padding: 2rem 0 0 2rem;
  max-width: 17rem;

  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card-bg-color {
  background-color: var(--secundary-color);
  align-self: end;
}

.card-bg-color:hover {
  transform: translateY(10px);
}

.card a {
  align-self: end;
  margin-top: 2.5rem;
}

.head-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.head-card h3 {
  font-size: 1.5rem;
}

.head-card img {
  width: 20%;
}

#rodape {
   display: flex;
   flex-direction: column;

   gap: 2.5rem;
}

#rodape #footer-texts {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

#rodape #footer-texts img {
  max-width: 6.6rem;
}

#rodape #footer-texts p {
  max-width: 17.5rem;
}

#rodape nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}

#rodape nav a {
  color: var(--black-color);
  font-size: 1.2rem;
  text-decoration: none;

  transition: all 0.4s;
}

#rodape nav a:hover {
  color: var(--primary-color);
}

#rodape form {
  display: flex;
  flex-direction: column;
  justify-content: start;

  gap: 1rem;
}

#rodape form label {
  font-size: 1.3rem;
  min-width: 15rem;
  max-width: 25rem;
}

#rodape form input {
  padding: 0.7rem;

  border: 2px solid var(--black-color);
  box-shadow: 4px 4px 0px 0px #1E1E1E;

  min-width: 13rem;
  max-width: 35rem;
}

#rodape form input:focus {
  border: 2px solid var(--primary-color);
  outline: 0;
}

#rodape form a {
  max-width: 14rem;
}


/* Solução nav bar header */
@media screen and (width >= 340px) {
  #cabecalho nav {
    width: 10rem;
  }
}

@media screen and (width > 430px) {
  #cabecalho nav {
    width: 20rem;
    flex-wrap: nowrap;
  }
}

@media screen and (width > 500px) {
  #cabecalho nav {
    width: 50%;
  }
}


@media screen and (width >= 700px) {
  #cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

  }

  #cabecalho nav a {
    font-size: 1rem;
  }

  #cabecalho .button {
    font-size: 0.6rem;
    font-weight: 900;
  }
}

@media screen and (width >= 750px) {
  #cabecalho .button {
    font-size: 0.8rem;
    font-weight: 500;
  }
}

@media screen and (width >= 800px) {
  #cabecalho .button {
    font-size: 1rem;
    font-weight: 500;
  }
}

@media screen and (width >= 1500px) {
  #cabecalho nav {
    gap: 2rem;
  }
}

@media screen and (width >= 2000px) {
  #cabecalho nav {
    gap: 5rem;
  }
  #cabecalho nav a {
    font-size: 1.5rem;
  }

  #cabecalho .button {
    padding: 0.9rem 2rem;
    font-size: 1.2rem;
  }
}

@media screen and (width >= 640px) {
  #cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .card-bg-color {
    margin-top: 1rem;
  }
}

@media screen and (width >= 1222px) {
  #cards #conhecer {
    gap: 3rem;
  }
  #cards #conhecer h2 {
    font-size: 3.5rem;
  }
}

@media screen and (width >= 700px) {
  #criar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #criar #conteudo-criar {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 8rem;
  }
}

@media screen and (width >= 1440px) {
  #criar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    width: 100%;
  }

  #criar #conteudo-criar {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    gap: 2rem;
  }
  
  #criar #conteudo-criar h1 {
    font-size: 3rem;
  }
}

@media screen and (width >= 930px) {
  #rodape {
    flex-direction: row;
    width: 100%;

    justify-content: space-around;

    padding-top: 4rem;
    padding-bottom: 8rem;
  }

  #rodape form {
    width: 40%;

    gap: 2rem;
  }
}